.eml input{background-color:,while;
           margin-top:100px;
           margin-left:90px;}
.pas input{background-color:while;
           margin-top:30px;
           margin-left:90px}
.btn input{background-color:orange;
           margin-top:300px;
           margin-left:155px;
           height:25px;
           width:50px;}
.tex1{margin-top:10px;
     margin-left:30px}
body{border:5px solid black;}
